---
import Base from '@/layouts/Base.astro';
import AboutCallToAction from '@/partials/AboutCallToAction.astro';
import AboutUs from '@/partials/AboutUs.astro';
import CallToAction from '@/partials/CallToAction.astro';
import ClientsTestimonial from '@/partials/ClientsTestimonial.astro';
import FeaturesWithCta from '@/partials/FeaturesWithCta.astro';
import HomeBanner from '@/partials/HomeBanner.astro';
import IntegrationSliderSection from '@/partials/IntegrationSliderSection.astro';
import Pricing from '@/partials/Pricing.astro';
import Testimonial from '@/partials/Testimonial.astro';
---

<Base>
  <HomeBanner />
  <!-- <ClientsTestimonial /> -->

  <div class="py-8">
    <hr class="divider" />
  </div>

  <FeaturesWithCta />

  <div class="py-8">
    <hr class="divider" />
  </div>

  <AboutUs />

  <div class="py-8">
    <hr class="divider" />
  </div>

  <Testimonial />

  <!-- <hr class="divider" /> -->

  <!-- <IntegrationSliderSection /> -->

  <!-- <hr class="divider" /> -->

  <!-- <Pricing /> -->

  <!-- <div class="py-8">
    <hr class="divider" />
  </div> -->

  <AboutCallToAction />
</Base>
